version: '3'
services:
  redis:
    image: redis:latest
    volumes:
      - ${PWD}/data/redis:/data
    command:
      - --dir /data
      - --appendonly yes
      - --appendfsync everysec
  mariadb:
    image: mariadb:latest
    restart: on-failure    
    volumes:
      - ${PWD}/data/mariadb:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
  api:
    build: ./backend/api
    volumes:
      - ${PWD}/data/api-logs:/root/.npm/_logs
    depends_on:
      - mariadb
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
  web:
    build: ./frontend
    depends_on:
      - api
    ports:
      - 80:80
  db-setup:
    build: ./backend/data-updaters/db-setup
    depends_on:
      - mariadb
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
  apps-updater:
    build: ./backend/data-updaters/apps-updater
    depends_on:
      - redis
      - db-setup
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      SENTRY_KEY: ${SENTRY_KEY}
      SENTRY_PROJECT: ${SENTRY_PROJECT}
  packages-updater:
    build: ./backend/data-updaters/packages-updater
    depends_on:
      - redis
      - db-setup
    environment:
      SENTRY_KEY: ${SENTRY_KEY}
      SENTRY_PROJECT: ${SENTRY_PROJECT}
  queue-updater:
    build: ./backend/data-updaters/queue-updater
    depends_on:
      - redis
      - db-setup
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      SENTRY_KEY: ${SENTRY_KEY}
      SENTRY_PROJECT: ${SENTRY_PROJECT}
      CHANGENUMBER_INIT: ${CHANGENUMBER_INIT}
      PACKAGES_MANUAL_START: ${PACKAGES_MANUAL_START}
      PACKAGES_MANUAL_END: ${PACKAGES_MANUAL_END}