version: '3'
services:
  redis:
    image: redis:latest
    ports:
      - 6379:6379
  mariadb:
    image: mariadb:latest
    restart: on-failure    
    ports:
      - 3306:3306
    volumes:
      - ./mariadb:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    environment:
      MYSQL_ROOT_PASSWORD: rootPWD
      MYSQL_USER: test-user
      MYSQL_PASSWORD: userPWD
  db-setup:
    build: ./db-setup
    depends_on:
      - mariadb
  apps-updater:
    build: ./apps-updater
    depends_on:
      - redis
      - db-setup
  packages-updater:
    build: ./packages-updater
    depends_on:
      - redis
      - db-setup
  queue-updater:
    build: ./queue-updater
    depends_on:
      - redis
      - db-setup