
.apps-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.category-name {
    width: 50%;
    margin: 0 auto;
    height: 60px;
    text-align: center;
    font-size: 50px;
    color: white;
    border-bottom: 3px solid #7BBB14;
    margin-bottom: 30px;
}

.block {
    display: block;
    width: 250px;
    margin: 3px;
    margin-bottom: 30px;
    text-decoration: none !important;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
}

.block > img { 
    max-width: 100%;
    min-height: 115px;
    border-radius: 5px 5px 0 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.block > span {
    display: block;
    
    width: calc(100% - 12px);
    padding: 3px 5px 5px 5px;
    font-size: 18px;
    text-align: center;
    
}

.block:hover {
    color: white !important;
    border-color: white;
}

@media (max-width: 1140px) {
    #search-results-wrapper {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .category-name {
        font-size: 32px;
        height: 40px;
        width: 100%;
    }

    .block {
        width: 180px;
    }
    
    .block > img {
        min-height: 0;
    }
}

@media (max-width: 375px) {
    .block {
        width: 250px;
        margin-bottom: 10px;
    }
}