#navbar {
    width: 1040px;
    margin: 0 auto;
    margin-top: 3px;
    height: 50px;
    clear: both;
}

#input-group {
    float: left;
    margin-right: 0;
    position: relative;
    height: 100%;
    width: calc(100% - 53px - 200px - 10px);    
}

#clear-button {
    position: absolute;
    right: -40px;
    top: -5px;
    font-size: 45px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.85);
}

#clear-button:hover {
    color: #4c6b22;
}

#clear-button:focus {
    outline: none;
}

#list-button {
    display: block;
    width: calc(200px - 4px);
    height: calc(100% - 4px);
    float: right;
    background-color: inherit;
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 19px;
    text-decoration: none;
    text-align: center;
    transition: color .3s ease-out, border .3s ease-out;
}

#list-button:hover {
    border: 2px solid #4c6b22;
    color: #4c6b22;
}

#search-input {
    width: calc(100% - 60px);
    height: calc(100% - 2px);
    padding: 0;
    padding-right: 60px;
    border: none;
    background-color: inherit;
    border-bottom: 3px solid rgba(255, 255, 255, 0.85);
    transition: border 0.3s ease-out;
    color: rgba(255, 255, 255, 0.85);
    font-size: 35px;
    padding-left: 53px;
    background: url("../images/search-icon.svg") no-repeat;
    background-size: 35px;
    background-position: left 3px center;
}

#search-input:focus {
    border-bottom: 3px solid #4c6b22;
    outline: none;
}

@media (max-width: 1040px) {
    #navbar {
        width: 99%; 
    }
}

@media (max-width: 560px) {
    #navbar {
        width: 99%;
        height: 35px;
    }

    #input-group {
        width: calc(100% - 33px - 80px - 10px) !important;
    }

    #search-input {
        width: calc(100% - 40px);
        background-size: 25px;
        font-size: 20px;
        padding-left: 33px;
        padding-right: 40px;
    }

    #clear-button {
        font-size: 40px;
        top: -10px;
        right: -30px;
    }

    #list-button {
        width: 80px;
        font-size: 12px;
    }
}