#raw-data-wrapper {
    margin-top: 30px;
    background-color: #00173A;
    border-radius: 5px;
    width: 100%;
    padding: 25px 0 25px 0;
}

#raw-data-wrapper > span {
    display: block;
    text-align: center;
    font-size: 25px;
}

#raw-data-table {
    border: 3px solid #ABBDD9;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 14px;
}

.raw-data-element:first-child {
    border-top: none;
}

.raw-data-element {
    display: block;
    border-top: 3px solid #ABBDD9;
    padding: 5px;
}


.raw-data-element:nth-child(odd) {
    background-color: rgb(0, 29, 73);
}

.raw-data-element th {
    width: 300px;
    text-align: left;
}

